/phpmyadmin/
/night-planet/public/webroot/tmp/
/night-planet/public/webroot/img/**/*.jpg
/night-planet/public/webroot/img/**/*.png
/night-planet/public/webroot/img/**/calendar.json
/night-planet/public/webroot/img/**/*.dat
/night-planet/public/webroot/img/**/**/**/**/*.dat
/night-planet/admin/webroot/tmp/
/night-planet/admin/webroot/img/**/*.jpg
/night-planet/admin/webroot/img/**/*.png
/night-planet/admin/webroot/img/**/calendar.json
/night-planet/admin/webroot/img/**/*.dat
/night-planet/admin/webroot/img/**/**/**/**/*.dat
