html,body {
  -webkit-overflow-scrolling: touch;
}
.container {
    width: 94.5%;
}
body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

li{
  list-style-type: none;
}
a.button-collapse.oki-button-collapse{
  /*display: block;*/
}
.nav-wrapper,.container,footer{
  padding-left: 300px;
}
nav.nav-breadcrumb {
  margin: 10px 0;
  display: table;
}
.nav-wrapper.nav-wrapper-oki {
  padding-left: initial;
}
li > a.sideNav-active {
  color: initial;
  color: #fff;
  background-color: #26a69a;
}
.side-nav > li > a:hover {
  color: #fff;
  background-color: #26a69a;
}
.brand-logo.oki-brand-logo{
  margin-left: 50px;
}
span.area-logo {
  font-size: 1.7rem;
  font-weight: bold;
}
span.area-logo-tail {
  font-size: 1.4rem;
  font-weight: initial;
}
.breadcrumbs-tail {
  pointer-events: none;
}
footer ul.collection li{
  border-style: solid;
  border-width: 1px;
}
ul > li > a.footer-item.collection-item{
  background-color: initial;
  color:white;
}
footer i.material-icons{
  vertical-align: bottom;
    margin-right: 10px;
}
.footer-copyright.oki-footer-copyright{
  display: block;
  text-align: -webkit-center;
}
a.grey-text.link-box.text-lighten-3.collection-item {
  background-color: initial;
  border: 1px solid #e0e0e0;
}
.collection a.collection-item:not(.active):hover{
  background-color: #ddd;
}

li.search.col.s12 > a, li.search.col.s3 > a{
  width:100%;
}
button.modal-login{
  width:100%;
}
span.notice {
    vertical-align: super;
}

/* ヘッダー固定 START */
nav#nav-header-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: .3s;
}
div.nav-header-cron-dummy {
  height: 64px;
  width: 100%;
}
/* ヘッダー固定 END */

/* トップへスクロールボタン START */
#return_top {
    display: none;
    position: fixed;
    bottom: 95px;
    right: 25px;
    z-index: 990;
}
#return_top a {
    display: block;
    width: 55px;
    height: 55px;
    text-decoration: none;
    background: #b69e84;
    border-radius: 50%;
    opacity: 0.6;
}
/* トップへスクロールボタン END */

/* ローディング START */

.preloader-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: auto;
    z-index: 1999;
}
/* ローディング END */

/* フラッシュメッセージ系 START */

.checks {
    padding:30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

div.message.hidden {
    height: 0;
}
div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

/* フラッシュメッセージ系 END */

/* 新規・ログイン画面 START */
.or-form-wrap {
    margin: 0 auto;
    width: 90%;
    display: grid;
}
.card.or-card {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
.or-button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* 新規・ログイン画面 END */

/* ユーザー START */

.search-result-card:hover {
  background-color: #fbe9e7;
  cursor : pointer;
}

/* ユーザー END */


/* 店舗ページ START */
#shop {

}
#shop-main, #cast-main {
  margin-top: 0.5rem;
}
div.description {
  display: -webkit-box;
  margin: 2em 0 2.5em;
  padding: 1em 1.5em;
  line-height: 2.0;
  border: 1px dashed #cdcdcd;
  background: #fcfcfc;
  box-shadow: 0 1px 3px 0 rgba(195,195,195,0.3);
}
span.or-header {
  color: aliceblue;
}
.or-header-wrap {
  margin-left: 10px;
  margin-right: 10px;
}
.coupon {
  text-align: center;
  width: 100%;
}
.material-icons.or-material-icons {
  width: inherit;
}
.shop-image {
  margin-top:5px;
}
.cast-list.row img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.cast-list.row h6 {
  text-align: center;
}
.card.diary-card {
  margin: 0 10px;
}
div.card.diary-card .col{
  padding: initial;
}

/* 店舗ページ END */

/* 日記ページ START */
.diary-card .diary-image .col {
  padding: initial;
}
.card-action.like-field {
  
}
/* .like-field.show-like {
  float: left;
}
.like-field.count-like {
  position: absolute;
  left: 50px;
  top: 20px;
} */
/* .like-field.add-like {
  float: left;
  margin-left: 22%;
} */
.like-field .like-field-span {
  margin-left: 0.5rem;
}

/* 日記ページ END */

/* テーブル系共通 START */
table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0 ;
  font-weight: initial;
}

/* table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
} */

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  /*background-color: #eee;*/
  padding: 10px 5px;
}
/* テーブル系共通 END */

/* リンク系共通 START */
.side-nav li > a.btn-disabled {
  color: #c3c3c3;
  pointer-events: none; /* aタグのリンクを無効にする */
  cursor: default;  /* マウスオーバー時のカーソルをdefaultに固定 */
  text-decoration: none;  /* 下線等を消す。 */
}
/* テーブル系共通 END */


/* 店舗編集ページ START */
.edit-menu {
  margin-top: 10px;
}
body,
#wrapper {
  display: block;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

#show-top-image img {
    background-color:gray;
    object-fit:contain;
}

tbody.tbody-coupon-group:before ,tbody.tbody-cast-group:before{
	content: "";
	height: 1px;
	width: 100%;
	padding: 2px 0;
	display: block;
}

.chip-box > .chip {
  pointer-events: auto;
}
.chip-box > .chip:hover {
  background-color: #26a69a;
  color: white;
  cursor : pointer;
}
.back-color {
  background-color: #26a69a;
  color: white;
}
li.daylist,li.eventlist {
  float: left;
  margin-left: 60px;
}

/* 店舗編集ページ END */


/* キャスト編集ページ START */

.oki-new {
  margin-left: auto;
  z-index: 999;
  position: absolute;
}

.collapsible-body {
  pointer-events: auto;
}
.collapsible-body:hover {
  background-color: #26a69a;
  color: white;
  cursor : pointer;
}
ul.archive-panel > li.collection-item:hover {
  background-color: #26a69a;
  color: white;
  cursor : pointer;
}
ul.archive-panel > li.collection-item {
  display: block;
  padding: 10px 0px;
}
ul.collection.archive-panel > li.collection-item > span.secondary-content,
ul.collapsible.archive-panel > li > div > p > span.secondary-content {
  top: 32px;
  color: #0087ff;
}
ul.collection.archive-panel > li > span > i.material-icons {
  display: block;
}

/* キャスト編集ページ END */

/* 日記カード モジュール START */
#modal-diary {
  word-break: break-all;
}
#view-diary .diary-image {
  margin-top: 1rem;
}

div.diary-image {
  display: inline-block;
}
/* .diary-card .diary-image .col .imageOne{
  height: 250px;
} */
.diary-list p.title, #modal-diary p.title {
  border-bottom-style: groove;
  padding-bottom: 5px;
}
.diary-list p.content, #modal-diary p.content  {
  margin-top: 10px;
}
/* 日記カード モジュール END */

/* スライダーの矢印 START */
.middle-indicator {
  position: absolute;
  display: inline;
  width: 87%;
  margin-top: 30%;
}
 .middle-indicator-text{
  font-size: 3.2rem;
 }
 a.middle-indicator-text{
   color:white !important;
   background-color: dodgerblue;
   opacity: 0.5;
 }
.content-indicator{
   width: 44px;
   height: 44px;
   background: none;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px; 
 }
   /* .indicators{
   visibility: hidden;
 } */
/* スライダーの矢印 END */

/* モーダルメニュー START */
.fixed-action-btn.modal-more-horiz {
  position: initial;
}
/* モーダルメニュー END */

@media only screen and (max-width: 992px) {
  .brand-logo.oki-brand-logo{
    margin-left: initial;
  }
  .button-collapse {
    display: block;
  }
  .nav-wrapper,.container,footer {
    padding-left: initial;
  }

  /* Text inputs */
  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=search]:not(.browser-default),
  textarea.materialize-textarea {
    font-size: 17px;
  }
  .modal {
    width: 100%;
  }

  .slider {
    margin-left: initial;
  }

}

@media only screen and (max-width: 450px) {

  .brand-logo.oki-brand-logo {
    margin-left: -25px;
  }
  .brand-logo.oki-brand-logo {
    font-size:  1.2rem;
  }
  span.area-logo {
    font-size: 1.1rem;
    font-weight: bold;
  }
  span.area-logo-tail {
    font-size: 1.1rem;
    font-weight: initial;
  }
  div.nav-header-cron-dummy {
    height: 56px;
  }

  /* 日記ページ START */
 
  /* 日記ページ END */

}

@media only screen and (max-width: 600px) {

  table.tel-table {
    margin-top: 10px;
  }
  .card.or-card {
    width: 100%;
  }

}

@media only screen and (max-width: 992px) {
  .header-area {
    display: none;
  }

}

@media only screen and (min-width: 601px) {
  table.other-table {
    margin-top: 0px;
  }
  table.tel-table {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {

}

@media only screen and (min-width: 993px) {
  .fixed-action-btn.share {
    display: none;
  }
  table.tel-table {
    margin-top: 10px;
   }

}

@media only screen and (min-width: 993px) {

}

@media only screen and (min-width: 600px) and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 993px) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 993px) {

}

@media only screen and (min-width: 1201px) {

}

@media only screen and (min-width: 993px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 0) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 390px) {

}

@media only screen and (min-width: 420px) {

}

@media only screen and (min-width: 450px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 510px) {

}

@media only screen and (min-width: 540px) {

}

@media only screen and (min-width: 570px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 630px) {

}

@media only screen and (min-width: 660px) {

}

@media only screen and (min-width: 690px) {

}

@media only screen and (min-width: 720px) {

}

@media only screen and (min-width: 750px) {

}

@media only screen and (min-width: 780px) {

}

@media only screen and (min-width: 810px) {

}

@media only screen and (min-width: 840px) {

}

@media only screen and (min-width: 870px) {

}

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 930px) {

}

@media only screen and (min-width: 960px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) and (max-width: 992px) {

}

@media only screen and (min-width: 993px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {

}

@media (min-height: 28.875em) {

}

@media (min-height: 40.125em) {

}

@media (min-height: 28.875em) {

}

@media (min-height: 28.875em) {

}

@media (min-height: 35.875em) {

}

@media (min-height: 38.875em) {

}

@media only screen and (min-width: 601px) {

}

@media (min-height: 33.875em) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 601px) {

}

@media (min-height: 46.75em) {

}

@media (min-height: 40.125em) {

}

@media only screen and (min-width: 601px) {

}

