
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
html,body {
  -webkit-overflow-scrolling: touch;
}
.container {
    width: 94.5%;
}
.entry.container {
  padding: initial;
}

.other.container {
  padding: initial;
}

body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

li{
  list-style-type: none;
}
a.button-collapse.oki-button-collapse{
  /*display: block;*/
}
.nav-wrapper,.container,footer{
  padding-left: 300px;
}
footer.page-footer .footer-item, footer.page-footer .footer-description {
  background-color: #484848;
  color: white;
}
footer.page-footer .footer-item span {
  vertical-align: middle;
  display: inline-flex;
}
footer.page-footer .footer-item span i{
  margin-right: 10px;
}
nav.nav-breadcrumb {
  margin: 10px 0;
  display: table;
}
.nav-wrapper.nav-wrapper-oki {
  padding-left: initial;
}
li > a.sideNav-active {
  color: initial;
  color: #fff;
  background-color: #26a69a;
}
/* .side-nav > li > a:hover {
  color: #fff;
  background-color: #26a69a;
} */
span.logo-head-color {
  color: #f9a500;
  font-size: larger;
}
.brand-logo.oki-brand-logo{
  margin-left: 50px;
}
span.area-logo {
  font-size: 1.7rem;
  font-weight: bold;
}
span.area-logo-tail {
  font-size: 1.4rem;
  font-weight: initial;
}
.breadcrumbs-tail {
  pointer-events: none;
}
.page-footer {
  padding-top: 20px;
  color: initial;
  background-color: #3e3e3e;
}
.page-footer .card-panel {
  padding: 10px;
}
/* footer ul.collection li{
  border-style: solid;
  border-width: 1px;
}
ul > li > a.footer-item.collection-item{
  background-color: initial;
  color:white;
}
footer i.material-icons{
  vertical-align: bottom;
    margin-right: 10px;
} */
.footer-copyright.oki-footer-copyright{
  display: block;
  text-align: -webkit-center;
}
a.grey-text.link-box.text-lighten-3.collection-item {
  background-color: initial;
  border: 1px solid #e0e0e0;
}
.collection a.collection-item:not(.active):hover{
  background-color: #ddd;
}

li.search.col.s12 > a, li.search.col.s3 > a{
  width:100%;
}
button.modal-login{
  width:100%;
}
span.notice {
    vertical-align: super;
}

/* お知らせバー START */
#info-marquee > .col {
  padding: 0;
}

#info-marquee ul {
  display: block;
  margin: 0;
  border: none;
  list-style: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  background-color: initial;
  box-sizing: border-box;
}
#info-marquee ul li {
  /* required styles */
  position: absolute;
  top:-999em;
  left:0;
  display:table;
  width:100%;
  white-space:nowrap; /* keep all text on a single line */
  /* optional styles for appearance */
  padding:10px 0;
  margin:0;
  height:48px;
  vertical-align:middle;
}

#info-marquee {
  padding: 0 0 0 40px;
  background: url(/img/common/update-icon.svg)no-repeat left center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  padding: 0 0 0 40px;
  background-position: 5px;
}
#info-marquee a {
  vertical-align: -webkit-baseline-middle;
}

/* お知らせバー END */

/* ヘッダー固定 START */
nav#nav-header-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: .3s;
}
div.nav-header-cron-dummy {
  height: 64px;
  width: 100%;
}
nav.nav-opacity {
  background-color: rgba(0, 0, 0, 0.55);
}
nav {
  color: #fff;
  background-color: #3e3e3e;
}
/* ヘッダー固定 END */
/* ボトムナビゲーション START */
/* スマホ以外は非表示 */
.bottom-sticky-nav {
  display: none;
}
/* ボトムナビゲーション END */

/* トップへスクロールボタン START */
#return_top {
    display: none;
    position: fixed;
    bottom: 95px;
    right: 25px;
    z-index: 990;
}
#return_top a {
    display: block;
    width: 55px;
    height: 55px;
    text-decoration: none;
    background: #b69e84;
    border-radius: 50%;
    opacity: 0.3;
}
/* トップへスクロールボタン END */

/* ローディング START */

.preloader-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
  z-index: 1999;
}
/* ローディング END */

/* ローディング START */

.linkbox {
  position: relative;
}

.linkbox a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}
/* ローディング END */

/* フラッシュメッセージ系 START */

.checks {
    padding:30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

div.message.hidden {
    height: 0;
}
div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    /* height: 50px; */
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
  background-color: #C3232D;
  color: #FFF;
}

div.message.error:before {
  padding: 11px 16px 14px 7px;
  color: #C3232D;
  content: "x";
}
div.message.hidden {
  height: 0;
}

form .error-message {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  color: #C3232D;
}

div.message.warning {
    background-color: #e88b00;
    color: #FFF;
}

div.message.warning:before {
    padding: 11px 16px 14px 7px;
    color: #e88b00;
    content: "x";
}
div.message.hidden {
    height: 0;
}

form .warning-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: #e88b00;
}

/* フラッシュメッセージ系 END */

/* PhotoSwipe START */
.my-gallery > figure {
  margin: initial;
}
.my-gallery figure{
  float: left;
  margin: 0;
  width: 33.333333333333%;
  margin:0;
}
.my-gallery figure.col{
  padding:initial;
}
.my-gallery figure img{
  display: list-item;
  height: 200px;
  width:100%;
  object-fit: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-b;
  border:solid #fff 1px;
  }
/* PhotoSwipe END */

/* トップページ画面 START */
#top .section.tabs-section {
  height:600px;
}
#top .cast-count span:before, #area .cast-count span:before {
  background-image: url(/img/common/users-icon.png);
  background-repeat: no-repeat;
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}

#top .shop-count span:before, #area .shop-count span:before {
  background-image: url(/img/common/shop-icon.png);
  background-repeat: no-repeat;
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#top .count-section span, #area .count-section span {
  color:white;
}
/* トップページ画面 END */

/* 新規・ログイン画面 START */
.or-form-wrap {
    margin: 0 auto;
    width: 90%;
    display: grid;
}
.card.or-card {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
.or-button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* 新規・ログイン画面 END */

/* ユーザー START */

  /* 検索画面 START */

  #search-result .linkbox.search-result-card {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .search-result-card:hover {
    background-color: #fbe9e7;
    cursor : pointer;
  }
  .search-result-card .card-image img.card-image-img {
    width: 200px;
    object-fit: cover;
  }
  /* 検索画面 END */

/* ユーザー END */


/* 店舗ページ START */
#shop {

}
#shop-main, #cast-main {
  margin-top: 0.5rem;
}
div.header-discription-message {
  color: antiquewhite;
}
div.description {
  display: -webkit-box;
  margin: 2em 0 2.5em;
  padding: 1em 1.5em;
  line-height: 2.0;
  border: 1px dashed #cdcdcd;
  background: #fcfcfc;
  box-shadow: 0 1px 3px 0 rgba(195,195,195,0.3);
}

/** SHOP MENU START */
.shop-menu .shop-menu-label {
  font-size: xx-small;
}
.new-info {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background-image: url(/img/common/new-icon.png);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.coupon:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/coupon-icon.png);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.casts:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/users-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.work-schedule:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/girl-working-icon.png);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.event:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/event-icon.jpg);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.cast:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/user-icon.png);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.instagram:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/instagram-icon.jpg);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.facebook:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/facebook-icon.jpg);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.twitter:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/twitter-icon.svg);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.line:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/line-icon.png);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.diary:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/diary-icon.jpg);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.shop-gallery:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/image-gallery-icon.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.map:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/map-marker.png);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.recruit:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/recruit-icon.png);
  background-size: contain;
  vertical-align: middle;
}
.shop-menu .shop-menu-label.system:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-image: url(/img/common/system-icon.jpg);
  background-size: contain;
  vertical-align: middle;
}
/** SHOP MENU END */

/** SECTION LABEL START */
#instagram-section {
  margin-bottom: initial;
}
#shop-menu-section .shop-menu-label span:before,
#shop-menu-section .shop-menu-label span:after {
  background-image: url(/img/common/shop-icon.png);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#casts-section .casts-label span:before,
#casts-section .casts-label span:after {
  background-image: url(/img/common/users-icon.png);
  background-repeat: no-repeat;
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#casts-section a {
  display: grid;
}
#casts-section h6, #today-member-modal h6{
  padding-top: 7px;
  color: white;
  background-color: #fb8c00;
  height: 30px;
  border-radius: 32px;
}
/* #casts-section h6.new-cast-pop {
  background-color: hotpink;
} */
#casts-section .cast-icon-list  {
  position: relative;
}
#casts-section .add-cast-icon {
  position: absolute;
  top: -2px;
  left: 10px;
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 15px;
  padding-top: 2px;
}
#casts-section .update-cast-icon {
  position: absolute;
  top: -2px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 15px;
  padding-top: 2px;
}
#diary-section .diary-label span:before,
#diary-section .diary-label span:after {
  background-image: url(/img/common/diary-icon.jpg);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#work-section .work-label span:before,
#work-section .work-label span:after {
  background-image: url(/img/common/girl-working-icon.png);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#event-section .event-label span:before,
#event-section .event-label span:after {
  background-image: url(/img/common/event-icon.jpg);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#shop-info-section .shop-info-label span:before,
#shop-info-section .shop-info-label span:after {
  background-image: url(/img/common/system-icon.jpg);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#instagram-section .instagram-label span:before,
#instagram-section .instagram-label span:after {
  background-image: url(/img/common/instagram-icon.jpg);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#facebook-section .facebook-label span:before,
#facebook-section .facebook-label span:after {
  background-image: url(/img/common/facebook-icon.jpg);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#twitter-section .twitter-label span:before,
#twitter-section .twitter-label span:after {
  background-image: url(/img/common/twitter-icon.png);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
/* メイン表示部のスクロール設定 */
#twitter-section .twitter-box{
  width               : 100%;
  height              : 350px;
  display             : block;
  overflow-x          : hidden;
  overflow-y          : auto;
}

#shop-gallery-section .shop-gallery-label span:before,
#shop-gallery-section .shop-gallery-label span:after {
  background-image: url(/img/common/image-gallery-icon.jpg);
  background-repeat: no-repeat;
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#cast-gallery-section .cast-gallery-label span:before,
#cast-gallery-section .cast-gallery-label span:after {
  background-image: url(/img/common/image-gallery-icon.jpg);
  background-repeat: no-repeat;
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#cast-section .cast-profile-label span:before,
#cast-section .cast-profile-label span:after {
  background-image: url(/img/common/user-icon.png);
  background-repeat: no-repeat;
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#map-section .map-label span:before,
#map-section .map-label span:after {
  background-image: url(/img/common/map-marker.png);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
#recruit-section .recruit-label span:before,
#recruit-section .recruit-label span:after {
  background-image: url(/img/common/recruit-icon.png);
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
p.section-label {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  background-size: contain;
  vertical-align: middle;
}
/** SECTION LABEL END */

span.or-header {
  color: aliceblue;
}
.or-header-wrap {
  margin-left: 10px;
  margin-right: 10px;
}
.material-icons.or-material-icons {
  width: inherit;
}
.shop-image {
  margin-top:5px;
}
.share.right-align {
  margin-right: 10px;
}
.gallery-box {
  margin: 0 10px;
}
.card.diary-card, .card.notice-card, .card.gallery-card {
  margin: 0 10px;
}
div.card.diary-card .col, div.card.notice-card .col{
  padding: initial;
}
.sharer-modal .row .col {
  margin-top: 10px;
}
.sharer-modal .sharer-btn {
  padding:0 0.7rem;
  width: 100%;
  background-color: initial;
}
.sharer-modal .facebook.sharer-btn {
  background-color: #0077f3;
}
.sharer-modal .twitter.sharer-btn {
  background-color: #5ac2ff;
}
.sharer-modal .b_hatena.sharer-btn {
  background-color: #0f8ace;
}
.sharer-modal .line.sharer-btn {
  background-color: #08ca08;
}
/* .sharer-modal .facebook.sharer-btn span:before {
  background-image: url(/img/common/sns/facebook-icon.png);
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  vertical-align: middle;
}
.sharer-modal .twitter.sharer-btn span:before {
  background-image: url(/img/common/sns/twitter-icon.png);
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  vertical-align: middle;
}
.sharer-modal .b_hatena.sharer-btn span:before {
  background-image: url(/img/common/sns/b_hatena-icon.png);
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  vertical-align: middle;
}
.sharer-modal .line.sharer-btn span:before {
  background-image: url(/img/common/sns/line-icon.png);
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  vertical-align: middle;
} */
span.icon-vertical-align {
  display: inline-flex;
}


/* 店舗ページ END */
/* キャストページ START */
.cast-header .cast-name-box {
  color: #f88c00;
  font-weight: 600;
}
.cast-header .count-box {
  padding-top: 6px;
  color: white;
  background-color: #fb8c00;
  height: 30px;
  border-radius: 32px;
}
.cast-header span.header-diary:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 20px;/*画像の幅*/
  height: 20px;/*画像の高さ*/
  background-image: url(/img/common/diary-icon.jpg);
  background-size: contain;
  vertical-align: middle;
}
.casts-header span.header-casts:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 20px;/*画像の幅*/
  height: 20px;/*画像の高さ*/
  background-image: url(/img/common/users-icon.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.cast-header span.header-gallery:before {
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 20px;/*画像の幅*/
  height: 20px;/*画像の高さ*/
  background-image: url(/img/common/image-gallery-icon.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
#casts-section .casts-label span:before,
#casts-section .casts-label span:after {
  background-image: url(/img/common/users-icon.png);
  background-repeat: no-repeat;
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height: 30px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}
.cast-header span.header-working {
  font-weight: bolder;
  color: crimson;
}
.bound{
  animation: key1 .3s ease infinite alternate;
}

@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}
/* キャストページ END */

/* 日記ページ START */
.diary-card .my-gallery .col {
  padding: initial;
}
.card-action.like-field {
  
}

.like-field .like-field-span {
  margin-left: 0.5rem;
}

/* 日記ページ END */

/* テーブル系共通 START */
table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #00b0ff;
  color: white;
  text-align: center;
  /* padding: 10px 0 ; */
  font-weight: initial;
}

table td{
  text-align: left;
  width: 70%;
  /*text-align: center;*/
  /*background-color: #eee;*/
  padding: 10px 5px;
}
/* テーブル系共通 END */

/* リンク系共通 START */
.side-nav li > a.btn-disabled {
  color: #c3c3c3;
  pointer-events: none; /* aタグのリンクを無効にする */
  cursor: default;  /* マウスオーバー時のカーソルをdefaultに固定 */
  text-decoration: none;  /* 下線等を消す。 */
}
/* テーブル系共通 END */


/* 店舗編集ページ START */
.edit-menu {
  margin-top: 10px;
}
a.modal-trigger.edit-help {
  vertical-align: middle;
}
body,
#wrapper {
  display: block;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

#show-top-image img {
    background-color:gray;
    object-fit:contain;
}

tbody.tbody-coupon-group:before ,tbody.tbody-cast-group:before{
	content: "";
	height: 1px;
	width: 100%;
	padding: 2px 0;
	display: block;
}

.chip-dummy {
  pointer-events: auto;
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}
.chip-dummy > img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.chip-dummy:hover:hover {
  background-color: #26a69a;
  color: white;
  cursor : pointer;
}
.chip-dummy.back-color.back-color {
  background-color: #26a69a;
  color: white;
}
li.daylist,li.eventlist {
  float: left;
  margin-left: 60px;
}

/* 店舗編集ページ END */


/* キャスト編集ページ START */

.oki-new {
  margin-left: auto;
  z-index: 999;
  position: absolute;
}
/* キャスト編集ページ END */

/* モーダル日記 お知らせ START */
#modal-diary, #modal-notice {
  word-break: break-all;
}
#modal-diary .modal-footer > span, #modal-notice .modal-footer > span{
  float: left;
}
#modal-diary .modal-footer :nth-child(2), #modal-notice .modal-footer :nth-child(2){
  margin-right: 30px;
}
#modal-diary .modal-footer :nth-child(3), #modal-notice .modal-footer :nth-child(3){
  margin-right: 10px;
}
#view-diary .my-gallery, #view-notice .my-gallery {
  margin-top: 1rem;
}
.diary-list p.content, #modal-diary p.content, .notice-list p.content, #modal-notice p.content  {
  margin-top: 10px;
}
#modal-diary .fixed-action-btn.modal-more-horiz, #modal-notice .fixed-action-btn.modal-more-horiz {
  position: relative;
}
#modal-diary .fixed-action-btn.modal-more-horiz > a, #modal-notice .fixed-action-btn.modal-more-horiz > a  {
  top: 15px;
}
/* モーダル日記 お知らせ END */

/* カラー共通 START */
.color-blue {
  color:cornflowerblue;
}
/* カラー共通 END */

/* フォーム共通 START */
textarea {
  overflow-y:auto;
}
textarea::-webkit-scrollbar {
  display:none;
}

form .message-label {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
}

/* フォーム共通 END */

@media only screen and (max-width: 450px) {

  .brand-logo.oki-brand-logo {
    margin-left: -25px;
  }
  .brand-logo.oki-brand-logo {
    font-size:  1.2rem;
  }
  span.area-logo {
    font-size: 1.1rem;
    font-weight: bold;
  }
  span.area-logo-tail {
    font-size: 1.1rem;
    font-weight: initial;
  }
  div.nav-header-cron-dummy {
    height: 56px;
  }

  /* 日記ページ START */
 
  /* 日記ページ END */

  
  /* ユーザー START */

    /* 検索画面 START */
    .search-result-card .card-image img.card-image-img {
      width: 100%;
      height: 250px;
    }
    /* 検索画面 END */

  /* ユーザー END */
  .my-gallery figure img{
    height: 120px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {

  table.tel-table {
    margin-top: 10px;
  }
  .card.or-card {
    width: 100%;
  }

}
/** 出勤管理テーブル START */
#work-schedule-management .table-wrap {
  overflow-y:scroll;
  height:600px;
}
#work-schedule-management table tr.tr-header th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
  width: initial;
} 
#work-schedule-management table tbody tr th {
  /* 横スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  left: 0;
} 
/** 出勤管理テーブル END */
/** プラン変更画面 START */
#change-plan div.card.plan-card button {
  font-size: smaller;
}
#change-plan div.card.plan-card li {
  list-style-type: decimal;
}
/** プラン変更画面 END */

@media only screen and (max-width: 992px) {
  .brand-logo.oki-brand-logo{
    /*margin-left: initial;*/
  }
  .button-collapse {
    display: block;
  }
  .nav-wrapper,.container,footer {
    padding-left: initial;
  }

  /* Text inputs */
  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=search]:not(.browser-default),
  textarea.materialize-textarea {
    font-size: 17px;
  }
  .modal {
    width: 100%;
  }

  .slider {
    margin-left: initial;
  }
  .header-area {
    display: none;
  }
  .bottom-sticky-nav {
    height: 50px;
    position: fixed;
    display: block;
    background-color: rgba(255, 255, 255, 0.55);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .bottom-sticky-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .bottom-sticky-nav ul li {
    flex: 1;
  }
  .bottom-sticky-nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 50px;
    color: #00587a;
  }
  .bottom-sticky-nav ul li a:hover,
  .bottom-sticky-nav ul li a:focus {
    text-decoration: none;
  }
  .bottom-sticky-nav ul li a i {
    font-size: 18px;
  }
  .bottom-sticky-nav ul li a span {
    font-size: 12px;
    line-height: 1.2;
  }
  #user-default > footer {
    margin-bottom: 50px;
  }
  /** 出勤管理テーブル */
  #work-schedule-management table thead {
    position: sticky;
    top: 0;
    z-index: 5;
  }
  #work-schedule-management .table-wrap {
    height:370px;
  }
  #work-schedule-management table tr.tr-header {
    background-color: #52c2d0;
    color: white;
    padding: 0 10px;
  }
  #work-schedule-management table tr.tr-header th:first-of-type {
    text-align: center;
  }
  #work-schedule-management table tr th span {
    display: block;
    font-size: x-small;
    font-weight: bold;
  }

}

@media only screen and (min-width: 601px) {
  table.other-table {
    margin-top: 0px;
  }
  table.tel-table {
    margin-top: 0px;
  }

  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .my-gallery figure img{
    height: 160px;
    object-fit: cover;
    }
}

@media only screen and (min-width: 993px) {
  .fixed-action-btn.share {
    display: none;
  }
  table.tel-table {
    margin-top: 10px;
   }
  /** SECTION TWITTER START */
  /* TWITTERメイン表示部の高さ設定 */
  #twitter-section .twitter-box{
    height              : 500px;
  }
  /** SECTION TWITTER START */
}

@media only screen and (min-width: 993px) {

}

@media only screen and (min-width: 600px) and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {

  #info-marquee > .col {
    padding: 0;
  }

  #info-marquee ul {
    display: block;
    margin: 0;
    border: none;
    list-style: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    background-color: initial;
    box-sizing: border-box;
  }
  #info-marquee ul li {
    /* required styles */
    position: absolute;
    top:-999em;
    left:0;
    display:table;
    width:100%;
    white-space:nowrap; /* keep all text on a single line */
    /* optional styles for appearance */
    padding:10px 0;
    margin:0;
    height:48px;
    vertical-align:middle;
  }

}

@media only screen and (min-width: 601px) {
  #casts-section .cast-icon-list img.circle, #today-member-modal .cast-icon-list img.circle{
    height:120px;
  }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 993px) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 993px) {

}

@media only screen and (min-width: 1201px) {

}

@media only screen and (min-width: 993px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 0) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 390px) {

}

@media only screen and (min-width: 420px) {

}

@media only screen and (min-width: 450px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 510px) {

}

@media only screen and (min-width: 540px) {

}

@media only screen and (min-width: 570px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 630px) {

}

@media only screen and (min-width: 660px) {

}

@media only screen and (min-width: 690px) {

}

@media only screen and (min-width: 720px) {

}

@media only screen and (min-width: 750px) {

}

@media only screen and (min-width: 780px) {

}

@media only screen and (min-width: 810px) {

}

@media only screen and (min-width: 840px) {

}

@media only screen and (min-width: 870px) {

}

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 930px) {

}

@media only screen and (min-width: 960px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) and (max-width: 992px) {

}

@media only screen and (min-width: 993px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {

}

@media (min-height: 28.875em) {

}

@media (min-height: 40.125em) {

}

@media (min-height: 28.875em) {

}

@media (min-height: 28.875em) {

}

@media (min-height: 35.875em) {

}

@media (min-height: 38.875em) {

}

@media only screen and (min-width: 601px) {

}

@media (min-height: 33.875em) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 601px) {

}

@media (min-height: 46.75em) {

}

@media (min-height: 40.125em) {

}

@media only screen and (min-width: 601px) {

}

ul.marquee{
  display:block;
  padding:0;
  margin:0;
  list-style:none;
  line-height:1;
  position:relative;
  overflow:hidden;
 
  /* 以下はオプション */
  width:300px;
  height:20px;
  border:1px solid #222;
 }
 
 ul.marquee li{
  position:absolute;
  top:-999em;
  left:0;
  display:block;
  white-space:nowrap;
 
  /* 以下はオプション */
  padding:3px 5px;
  color:white;
 }

/* スライダー設定 START */
[class^="swiper-button-"],
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  transition: all 0.3s ease;
}
#top-slider *,
#top-slider *:before,
#top-slider *:after {
  box-sizing: border-box;
  margin: 0;
  /*padding: 0;*/
}
.swiper-container {
  width: 100%;
  height: 28vw;
  transition: opacity 0.6s ease;
}
.swiper-container.swiper-container-coverflow {
  padding-top: 2%;
}
.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide .entity-img {
  display: none;
}
.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}
.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
}
[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.4;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  transform: translate(-50%,-50%);
  border: 0px solid #fff;
  border-radius: 50%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover,
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-width: 1px;
}
@media (max-width: 1180px) {
  .swiper-slide .content .title {
    font-size: 25px;
  }
  .swiper-slide .content .caption {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  .swiper-container {
    height: 40vw;
  }
  .swiper-container.swiper-container-coverflow {
    padding-top: 0;
  }
}
@media (max-width: 450px) {
  .swiper-container.swiper-container-coverflow {
    height: 260px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 700px) {
  .swiper-container.swiper-container-coverflow {
    height: 460px;
  }


}
/* スライダー設定 END */
