// Layout variables partial

$section-padding: 120px 0;

section.intro, section.features-extra,  section.reports-extra, section.sign-up {
	background: $section-light;
}
section.features, section.reports, section.blog-intro, section.blog {
	background: $section-dark;
}