/** オプション メニュー色 START **/
#shop-menu-section.option-menu-color-white .linkbox {
  background-color: #ffffff !important;
}
#shop-menu-section.option-menu-color-pink .linkbox {
  background-color: #f8bbd0 !important;
}
#shop-menu-section.option-menu-color-yellow .linkbox {
  background-color: #fffe00 !important;
}
#shop-menu-section.option-menu-color-purple .linkbox {
  background-color: #df47ff !important;
}
#shop-menu-section.option-menu-color-green .linkbox {
  background-color: #8eff9f !important;
}
#shop-menu-section.option-menu-color-blue .linkbox {
  background-color: #388bff !important;
}
#shop-menu-section.option-menu-color-red .linkbox {
  background-color: #ff4372 !important;
}
/** オプション メニュー色 END **/
